# Pandas
Panda is an open source , bsd licensed library providing high-performance , easy to use data structures and data analysis tools for the python programming langauage

Panda library used for working with data set
It has function for analyzing , cleaning , exploring and manipulating data

What is a Series?
A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

Agenda
what is data frame
what is data series
different operations in pandas

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\sangw\anaconda3\lib\site-packages (2.0.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sangw\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sangw\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sangw\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\sangw\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\sangw\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
## first step is to import pandas
import pandas as pd
import numpy as np

data frame:
is a data structure that organizes data 
into a 2-dimensional table of rows and columns,
much like a spreadsheet

In [3]:
# how data frame is created
## dataframe(data in form of array , index->row, column, datatype)
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['row1','row2','row3','row4','row5'],columns=['column1','column2','column3','column4'])
df.head()
## row and column indxing is necessary beacuse we need perform different  kind of 
## operstions to reteriview data

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [4]:
## another way 
data ={
    'column1':[1,2,3,4],
    'column2':[5,6,7,8],
    'column3':[9,10,11,12],
    'column4':[13,14,15,16]
}
df=pd.DataFrame(data)
df

   column1  column2  column3  column4
0        1        5        9       13
1        2        6       10       14
2        3        7       11       15
3        4        8       12       16

In [5]:
## you can give rows name instead of indexing
df=pd.DataFrame(data,index=['row1','row2','row3','row4'])
df

      column1  column2  column3  column4
row1        1        5        9       13
row2        2        6       10       14
row3        3        7       11       15
row4        4        8       12       16

In [6]:
## Acessing the element 
## two ways 
## way 1: .loc and way 2: iloc(index location)
df.loc['row1']
type(df.loc['row1'])

pandas.core.series.Series

In [7]:
## Dataframe : there must be 2 rows and must be 1 column
## series : one row or column

In [8]:
df.iloc[:,:] ## left hand side give you row and right hand give you column

      column1  column2  column3  column4
row1        1        5        9       13
row2        2        6       10       14
row3        3        7       11       15
row4        4        8       12       16

In [9]:
df.iloc[0:3,0:2]

      column1  column2
row1        1        5
row2        2        6
row3        3        7

In [10]:
df.iloc[0:2,0:2] ## main difference between R and python is that 
##indexing start from 0 in python and 1 from R
type(df.iloc[0:2,0:2])

pandas.core.frame.DataFrame

In [11]:
## convert data frame into array
df.iloc[:,:].values

array([[ 1,  5,  9, 13],
       [ 2,  6, 10, 14],
       [ 3,  7, 11, 15],
       [ 4,  8, 12, 16]], dtype=int64)

In [12]:
df.isnull().sum()

column1    0
column2    0
column3    0
column4    0
dtype: int64

## how to convert dataframe in csv file
what is csv file??
CSV (Comma Separated Values) is a simple file format used to store tabular data, such as a spreadsheet or database. A CSV file stores tabular data (numbers and text) in plain text

In [13]:
df

      column1  column2  column3  column4
row1        1        5        9       13
row2        2        6       10       14
row3        3        7       11       15
row4        4        8       12       16

In [14]:
## to count the unique value in df
df['column1'].value_counts()

column1
1    1
2    1
3    1
4    1
Name: count, dtype: int64

In [15]:
df['column1'].unique()

array([1, 2, 3, 4], dtype=int64)

In [16]:
df['column1']

row1    1
row2    2
row3    3
row4    4
Name: column1, dtype: int64

In [17]:
type(df['column1'])

pandas.core.series.Series

In [18]:
df['column1','column2']

KeyError: ('column1', 'column2')

In [ ]:
df[['column1','column2']] ## if you want multiple column pass through list

In [ ]:
## convert dataframe to csv file
## df.to_csv(file name)
df.to_csv('test.csv')

In [ ]:
## Acessing the element 
## two ways 
## way 1: .loc and way 2: iloc(index location)
df.loc['row1']
type(df)

## Pandas Read CSV
csv file( store big data ser)

In [19]:
df =pd.read_csv('shopping_trends.csv')

In [20]:
df.head(10)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
5,6,46,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.9,Yes,Venmo,Standard,Yes,Yes,14,Venmo,Weekly
6,7,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,3.2,Yes,Debit Card,Free Shipping,Yes,Yes,49,Cash,Quarterly
7,8,27,Male,Shorts,Clothing,34,Louisiana,L,Charcoal,Winter,3.2,Yes,Debit Card,Free Shipping,Yes,Yes,19,Credit Card,Weekly
8,9,26,Male,Coat,Outerwear,97,West Virginia,L,Silver,Summer,2.6,Yes,Venmo,Express,Yes,Yes,8,Venmo,Annually
9,10,57,Male,Handbag,Accessories,31,Missouri,M,Pink,Spring,4.8,Yes,PayPal,2-Day Shipping,Yes,Yes,4,Cash,Quarterly

In [21]:
df.head() ## top 5 records

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer ID               3900 non-null   int64
 1   Age                       3900 non-null   int64
 2   Gender                    3900 non-null   object
 3   Item Purchased            3900 non-null   object
 4   Category                  3900 non-null   object
 5   Purchase Amount (USD)     3900 non-null   int64
 6   Location                  3900 non-null   object
 7   Size                      3900 non-null   object
 8   Color                     3900 non-null   object
 9   Season                    3900 non-null   object
 10  Review Rating             3900 non-null   float64
 11  Subscription Status       3900 non-null   object
 12  Payment Method            3900 non-null   object
 13  Shipping Type             3900 non-null   object
 14  Discount Applied          3900 non-null   object
 15  Promo Code Used           3900 non-null   object
 16  Previous Purchases        3900 non-null   int64
 17  Preferred Payment Method  3900 non-null   object
 18  Frequency of Purchases    3900 non-null   object
dtypes: float64(1), int64(4), object(14)
memory usage: 579.0+ KB

In [23]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.749949,25.351538
std,1125.977353,15.207589,23.685392,0.716223,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.700000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [24]:
data=pd.read_csv('test.csv',sep='.')
data.head()

  Unnamed: 0  column1  column2  column3  column4
0       row1        1        5        9       13
1       row2        2        6       10       14
2       row3        3        7       11       15
3       row4        4        8       12       16

In [25]:
## some in built function
## to find  different Item Purchased
df['Item Purchased'].value_counts()

Item Purchased
Blouse        171
Jewelry       171
Pants         171
Shirt         169
Dress         166
Sweater       164
Jacket        163
Belt          161
Sunglasses    161
Coat          161
Sandals       160
Socks         159
Skirt         158
Shorts        157
Scarf         157
Hat           154
Handbag       153
Hoodie        151
Shoes         150
T-shirt       147
Sneakers      145
Boots         144
Backpack      143
Gloves        140
Jeans         124
Name: count, dtype: int64

In [26]:
df['Category'].value_counts()

Category
Clothing       1737
Accessories    1240
Footwear        599
Outerwear       324
Name: count, dtype: int64

In [27]:
df[df['Item Purchased']=='Blouse']

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
35,36,54,Male,Blouse,Clothing,33,Massachusetts,M,Cyan,Summer,4.0,Yes,Bank Transfer,2-Day Shipping,Yes,Yes,48,Credit Card,Bi-Weekly
50,51,49,Male,Blouse,Clothing,28,Maryland,M,Red,Spring,3.7,Yes,Cash,Store Pickup,Yes,Yes,39,Debit Card,Bi-Weekly
66,67,31,Male,Blouse,Clothing,94,Pennsylvania,S,Magenta,Winter,4.7,Yes,Bank Transfer,2-Day Shipping,Yes,Yes,3,Venmo,Every 3 Months
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3787,3788,37,Female,Blouse,Clothing,80,New York,M,Pink,Fall,3.6,No,PayPal,2-Day Shipping,No,No,46,PayPal,Every 3 Months
3801,3802,26,Female,Blouse,Clothing,84,Kentucky,M,Peach,Spring,5.0,No,PayPal,Store Pickup,No,No,36,PayPal,Fortnightly
3807,3808,38,Female,Blouse,Clothing,39,Michigan,L,Peach,Spring,2.9,No,PayPal,Next Day Air,No,No,36,PayPal,Annually
3828,3829,42,Female,Blouse,Clothing,82,Mississippi,M,Charcoal,Spring,3.4,No,Venmo,Free Shipping,No,No,8,Cash,Weekly
3846,3847,57,Female,Blouse,Clothing,58,Pennsylvania,L,Orange,Summer,4.0,No,Credit Card,Express,No,No,40,PayPal,Every 3 Months

In [28]:
df['Color'].value_counts()

Color
Olive        177
Yellow       174
Silver       173
Teal         172
Green        169
Black        167
Cyan         166
Violet       166
Gray         159
Maroon       158
Orange       154
Charcoal     153
Pink         153
Magenta      152
Blue         152
Purple       151
Peach        149
Red          148
Beige        147
Indigo       147
Lavender     147
Turquoise    145
White        142
Brown        141
Gold         138
Name: count, dtype: int64

In [29]:
## if i want to read some columns 
newdata=pd.read_csv('shopping_trends.csv',usecols=['Item Purchased','Color'])

In [30]:
newdata

     Item Purchased      Color
0            Blouse       Gray
1           Sweater     Maroon
2             Jeans     Maroon
3           Sandals     Maroon
4            Blouse  Turquoise
...             ...        ...
3895         Hoodie  Turquoise
3896       Backpack      White
3897           Belt      Green
3898          Shoes      Brown
3899        Handbag      Beige

[3900 rows x 2 columns]

In [31]:
newdata.to_csv('test1.csv')

In [32]:
df=pd.read_csv('shopping_trends.csv',dtype=object)
df
print(df['Item Purchased'])
print(df['Item Purchased'][1])

0         Blouse
1        Sweater
2          Jeans
3        Sandals
4         Blouse
          ...
3895      Hoodie
3896    Backpack
3897        Belt
3898       Shoes
3899     Handbag
Name: Item Purchased, Length: 3900, dtype: object
Sweater

In [33]:
df=pd.read_csv('shopping_trends.csv',dtype=int)
df

ValueError: invalid literal for int() with base 10: 'Male'

# CSV

In [ ]:
data=('col1,col2,col3\n'
     'x,y,1\n'
     'a,b,2\n'
     'c,d,3\n')

In [34]:
data

  Unnamed: 0  column1  column2  column3  column4
0       row1        1        5        9       13
1       row2        2        6       10       14
2       row3        3        7       11       15
3       row4        4        8       12       16

In [35]:
type(data)

pandas.core.frame.DataFrame

In [36]:
pd.read_csv(data)

TypeError: argument of type 'method' is not iterable

In [ ]:
## also use index_col=0,1,2 to treat col as index
## index_col=false if do not want to treat column as index

In [37]:
import io

In [38]:
from io import StringIO,BytesIO

In [39]:
data='a,b\n"hello, \\ "Bob", nice to see you ",5'
pd.read_csv(StringIO(data),escapechar='\\')

                               a  b
hello,  Bob"   nice to see you "  5

In [40]:
df=pd.read_csv('http://localhost:8888/notebooks/Python%20basic/Panda.ipynb',sep='\t')
df.head()

                                     <!DOCTYPE HTML>
0                                             <html>
1                                             <head>
2                             <meta charset="utf-8">
3                    <title>Jupyter Notebook</title>
4      <link id="favicon" rel="shortcut icon" typ...

# READ  JSON

In [41]:
## json data : basically inf form of key-value pair

In [42]:
data='{"name":"seema","email":"seemasangwan3108@gamil.com","job profie":[{"title1":"Team lead","title2":"xyz"}]}'
df=pd.read_json(data)
df

    name                       email                                job profie
0  seema  seemasangwan3108@gamil.com  {'title1': 'Team lead', 'title2': 'xyz'}

In [43]:
## convert json to csv
df.to_csv('data.csv')

In [44]:
df

    name                       email                                job profie
0  seema  seemasangwan3108@gamil.com  {'title1': 'Team lead', 'title2': 'xyz'}

In [45]:
data=pd.read_csv('data.csv')
data

,Unnamed: 0,name,email,job profie
0,0,seema,seemasangwan3108@gamil.com,"{'title1': 'Team lead', 'title2': 'xyz'}"

In [46]:
## csv to json data

In [47]:
data.to_json()

'{"Unnamed: 0":{"0":0},"name":{"0":"seema"},"email":{"0":"seemasangwan3108@gamil.com"},"job profie":{"0":"{\'title1\': \'Team lead\', \'title2\': \'xyz\'}"}}'

In [48]:
data.to_json(orient='records')

'[{"Unnamed: 0":0,"name":"seema","email":"seemasangwan3108@gamil.com","job profie":"{\'title1\': \'Team lead\', \'title2\': \'xyz\'}"}]'

# READING HTML CONTENT

In [49]:
url='https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list'
## It will all table present give a list of tbales
dfs=pd.read_html(url)

In [50]:
dfs

[                         Bank NameBank       CityCity StateSt  CertCert  \
 0                        Citizens Bank       Sac City      IA      8758
 1             Heartland Tri-State Bank        Elkhart      KS     25851
 2                  First Republic Bank  San Francisco      CA     59017
 3                       Signature Bank       New York      NY     57053
 4                  Silicon Valley Bank    Santa Clara      CA     24735
 ..                                 ...            ...     ...       ...
 563                 Superior Bank, FSB       Hinsdale      IL     32646
 564                Malta National Bank          Malta      OH      6629
 565    First Alliance Bank & Trust Co.     Manchester      NH     34264
 566  National State Bank of Metropolis     Metropolis      IL      3815
 567                   Bank of Honolulu       Honolulu      HI     21029

                  Acquiring InstitutionAI Closing DateClosing  FundFund
 0              Iowa Trust & Savings Bank    November 3, 2023     10545
 1                 Dream First Bank, N.A.       July 28, 2023     10544
 2              JPMorgan Chase Bank, N.A.         May 1, 2023     10543
 3                    Flagstar Bank, N.A.      March 12, 2023     10540
 4    FirstCitizens Bank & Trust Company      March 10, 2023     10539
 ..                                   ...                 ...       ...
 563                Superior Federal, FSB       July 27, 2001      6004
 564                    North Valley Bank         May 3, 2001      4648
 565  Southern New Hampshire Bank & Trust    February 2, 2001      4647
 566              Banterra Bank of Marion   December 14, 2000      4646
 567                   Bank of the Orient    October 13, 2000      4645

 [568 rows x 7 columns]]

In [51]:
type(dfs)

list

In [52]:
dfs[1]

IndexError: list index out of range

In [ ]:
dfs[0]

In [ ]:
df=pd.read_html(url,match='Bank',header=0)
df

# Reading Excel Files

In [ ]:
Excel_data=pd.read_excel('DSA by Shradha Didi & Aman Bhaiya (1).xlsx')
Excel_data.head()

# Pickling
All pandas Objects are equipped with to_pickle methods which use python's Pickle module to save data structure to disk using the pickle format

In [ ]:
Excel_data.to_pickle('Excel_data')

In [ ]:
df=pd.read_pickle('Excel_data')

In [ ]:
df.head()